{% set current_route = app.request.attributes.get('_route') %}
<header class="bg-white shadow navbar transition-all duration-300">
    <nav class="bg-gradient-to-r from-emerald-400 to-sky-400 text-white py-4 shadow-md z-50 ">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center">
                <a href="{{ path('home') }}"
                   class="text-white font-bold text-2xl tracking-wide hover:text-yellow-200 transition-colors duration-300 ease-in-out">
                    <img src="{{ asset('favicon.ico') }}" alt="Favicon" class="inline-block  w-6 h-6"/>
                    5th Symfony
                </a>
                <div class="hidden md:flex items-center  space-x-4">

                    <a href="{{ path('home') }}"
                       class="text-white font-semibold text-lg uppercase hover:text-yellow-200 transition-colors duration-300 ease-in-out px-2 py-1 {% if current_route == 'home' %}active{% endif %}">Home</a>
                    <a href="{{ path('article_index') }}"
                       class="text-white font-semibold text-lg uppercase hover:text-yellow-200 transition-colors duration-300 ease-in-out px-2 py-1  {% if current_route in ['article_index', 'article_show'] %}active{% endif %}">Article</a>
                    <a href="{{ path('ajouter') }}"
                       class="text-white font-semibold text-lg uppercase hover:text-yellow-200 transition-colors duration-300 ease-in-out px-2 py-1  {% if current_route == 'ajouter' %}active{% endif %}">Ajouter</a>
                    <div class="group relative">
                        <a href="{{ path('panier') }}"
                           class="text-white font-semibold text-lg uppercase hover:text-yellow-200 transition-colors duration-300 ease-in-out px-2 py-1  {% if current_route == 'cart' %}active{% endif %} flex items-center space-x-2">
                            <i class="fas fa-shopping-cart w-6 h-6"></i>
                        </a>
                        <div class="absolute left-0 mt-2 w-64 bg-white text-black  shadow-xl z-10 hidden group-hover:block">
                            <div class="p-4">
                                <!-- voila je met des trucs -->
                                <p>La main au panier.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="hidden md:flex items-center">
                    {% if not app.user %}
                        <a href="{{ path('app_register') }}"
                           class="text-white font-semibold text-lg uppercase bg-sky-500 hover:bg-sky-300 hover:border-amber-200 border-2 transition duration-300 hover:text-yellow-200 transition-colors duration-300 ease-in-out px-4 py-2 rounded-md flex items-center space-x-2 mr-2">
                            <span>S'inscrire</span>
                        </a>
                        <a href="{{ path('app_login') }}"
                           class="text-white font-semibold text-lg uppercase bg-sky-500 hover:bg-sky-300 hover:border-amber-200 border-2 transition duration-300 hover:text-yellow-200 transition-colors duration-300 ease-in-out px-4 py-2 rounded-md flex items-center space-x-2">
                            <span>Connexion</span>
                        </a>
                    {% else %}
                        <a href="{{ path('app_logout') }}"
                           class="text-white font-semibold text-lg uppercase bg-sky-500 hover:bg-sky-300 hover:border-amber-200 border-2 transition duration-300 hover:text-yellow-200 transition-colors duration-300 ease-in-out px-4 py-2 rounded-md flex items-center space-x-2">
                            <span>Déconnexion</span>
                        </a>
                    {% endif %}
                </div>
                <div class="md:hidden flex items-center">
                    <button class="text-white focus:outline-none focus:text-blue-300 transition duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                             width="28" height="28">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>


<style>
    .active {
        border-bottom: #FFFFFF solid 2px;
    }

    .active:hover {
        border-bottom: #fef08a solid 2px;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0;

    }

</style>


