{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block styles %}
    <style>
        .article-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
        }

        .article-card {
            transition: transform 0.3s ease;
        }

        .article-card:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        }

        .truc {
            display: grid;
            place-self: center;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="truc">
        <div class="container mx-auto mt-8 ">
            <div class="article-container">
                <div class="flex flex-col md:flex-row p-6 rounded-lg max-w-4xl w-full article-card">
                    <div class="md:w-1/2">
                        <img src="{{ article.imageUrl }}" alt="{{ article.titre }}"
                             class="w-full h-full object-cover mb-6 rounded">
                    </div>
                    <div class="md:w-1/2 md:pl-8 flex flex-col justify-center">
                        <h2 class="text-4xl font-bold mb-4 text-center">{{ article.titre }}</h2>
                        <p class="mb-4 text-lg text-center">{{ article.description }}</p>
                        <div class="flex flex-col md:flex-row">
                            <div class="w-full md:w-1/2">
                                <p class="mt-4 text-gray-700 text-lg text-center">Couleurs : {{ article.couleurs }}</p>
                            </div>
                            <div class="w-full md:w-1/2">
                                <p class="mt-4 text-gray-700 text-lg text-center">Prix : {{ article.prix }} €</p>
                                {% if user is not null %}
                                    <p class="mt-4 text-gray-700 text-lg text-center">Prix : {{ user.nom }} </p>
                                    <p class="mt-4 text-gray-700 text-lg text-center">Prix : {{ user.prenom }} </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}